<!DOCTYPE html>
<html lang="en">
<head>
    {% block head%}
    {% block title %}<title>Главная страница</title> {% endblock %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"> </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'hospital/css/style.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'hospital/images/logo.jpg'%}">
    {% endblock %}
</head>
<body>
    {% block header %}
    <header align="center">
        <div class="header-nav">
            <ul>
                <li><a class="current" href="{% url 'index' %}">Главная страница</a></li>
                <li><a href="{% url 'news' %}">Новости</a></li>
                <li><a href="{% url 'contacts' %}">Контакты</a></li>
                <li><a href="{% url 'about' %}">О нас</a></li>
                <li><a href="{% url 'FAQ' %}">Вопросы</a></li>
                <li><a class="sign" href="{% url 'signup' %}">Регистрация</a></li>
                <li><a class="sign" href="{% url 'login' %}">Войти в личный кабинет</a></li>
            </ul>
        </div>
    </header>
    {% endblock %}
    {% block container %}
    <div class="container">
        {% block content %}
        <div class="content">
            <h1>Лечение зубов в Стоматологии</h1>
            <p>
                Полный спектр услуг по лечению зубов в Казани предлагает наша стоматологическая клиника. Наш коллектив состоит из штата ведущих специалистов в области стоматологии разного профиля, что позволяет нам комплексно подойти к оценке проблемы и подобрать наилучшее её решение. Главная цель – максимально сохранить целостность зуба!
            </p>
            <p>
                Лечение зубов в нашей клинике полностью безболезненный процесс. Мы стараемся сделать посещение стоматологии для каждого клиента спокойным и комфортным, чтобы данный процесс больше никогда не ассоциировался у вас с пытками и не вызывал страх.
            </p>
            <h2>
                Какие виды услуг лечения зубов в Казани мы предлагаем
            </h2>
            <p>
                Первое, что стоит сделать – это записаться на личную консультацию к нашему специалисту. После детального осмотра, мы выявим все имеющиеся патологии и проблемы, а также оценим степень их развития. Какие проблемы встречаются чаще всего:
            </p>
            <ul>
                <li>Кариес;</li>
                <li>Пульпит;</li>
                <li>Периодонтиту;</li>
                <li>Флюс;</li>
                <li>Кистоз;</li>
                <li>Гипоплазия и эрозия эмали;</li>
                <li>Чувствительность.</li>
            </ul>
            <p>
                Оценив степень риска, наши врачи подбирают оптимальную программу лечения. Помимо устранения основных заболеваний, мы также предлагаем услуги имплантологии, протезирования, реставрации, исправления прикуса, установки виниров и брекет систем, отбеливания, и многое другое. В нашей клинике лечение зубов доступно для всех членов семьи, а для самых маленьких работает детский стоматолог.
            </p>
            <p>
                Наша стоматологическая клиника способна решить любые проблемы и вернуть вам здоровую и счастливую улыбку!
            </p>
            <h2>
                Сколько стоит лечение зубов в Казани
            </h2>
            <p>
                Со всеми ценами на лечение зубов в стоматологической клинике «Карат» вы можете ознакомиться в прайс-листе на нашем сайте. Но окончательная цена всегда определяется индивидуально, в зависимости от:
            </p>
            <ul>
                <li>Степени поврежденности мягких и твердых тканей;</li>
                <li>Результата рентгенологического обследования;</li>
                <li>Типа предстоящего лечения;</li>
                <li>Количества и типа используемых материалов.</li>
            </ul>
            <p>
                Осуществляем индивидуальный подбор программы лечения зубов согласно вашим возможностям. Все цены оглашаются до начала конкретных манипуляций, чтобы окончательный счет не был для вас «сюрпризом». В нашей клинике самые адекватные цены на лечение зубов в Казани и достойное соотношение цены и качества.
            </p>

        </div>
        {% endblock %}
    </div>
    {% endblock %}
    {% block footer %}
    <footer>
        <div class="downside">
            {% block copyright %}<p>Copyright ООО "Роот М.В.", 2023. Все права защищены.</p>{% endblock %}
        </div>
    </footer>
    {% endblock %}
</body>
</html>