<!DOCTYPE html>
<html lang="en">
<head>
    <title>Новости</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"> </script>
    <script scr="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'hospital/css/style.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'hospital/images/logo.jpg'%}">
    {% block head%} {% endblock %}
</head>
<body>
    {% block header %}
        <div class="header-nav">
            <header align="center">
                <ul>
                    <li><a href="{% url 'index' %}">Главная страница</a></li>
                    <li><a class="current" href="{% url 'news' %}">Новости</a></li>
                    <li><a href="{% url 'contacts' %}">Контакты</a></li>
                    <li><a href="{% url 'about' %}">О нас</a></li>
                    <li><a href="{% url 'FAQ' %}">Вопросы</a></li>
                    <li><a class="sign" href="{% url 'signup' %}">Регистрация</a></li>
                    <li><a class="sign" href="{% url 'login' %}">Войти в личный кабинет</a></li>
                </ul>
            </header>
        </div>
        {% endblock %}
    <div class="container">
        <div class="news">
            <p>13 мая 2023, 04:35.<br>Стоматолог указал на вред вейпов и курительных смесей для полости рта
Курение вейпов и смесей может спровоцировать развитие злокачественных образований в полости рта. Об этом в пятницу, 12 мая, рассказал «Газете.Ru» стоматолог, хирург-имплантолог, главный врач Немецкого имплантологического центра Магомед Дахкильгов.
</p>
        </div>
        <div class="news">
            <p>12 мая 2023, 06:00<br>Назван срок службы современных зубных пломб
Эксперт в сфере инноваций в стоматологии и генеральный директор XGate Dental Russia Михаил Азатьян рассказал «Известиям» о сроке службы инновационных материалов для лечения зубов.
</p>
        </div>

        <div class="news">
            <p>10 мая 2023, 15:45<br>Стоматолог назвала разрушающие зубы вредные привычки
Стоматолог и главврач клиники Smilestudio Луиза Автандилян назвала «Газете. Ru» в среду, 10 мая, вредные привычки, разрушающие зубы.
</p>
        </div>

        <div class="news">
            <p>15 апреля 2023, 05:45<br>Стоматолог опроверг необходимость удалять здоровые зубы мудрости
Удалять зубы мудрости необязательно, если они здоровы, растут под правильным углом и полностью прорезались через десну. Об этом в пятницу, 14 апреля, рассказал «Газете.Ru» стоматолог-хирург АО «Медицина» Роман Егоров.
</p>
        </div>

        <div class="news">
            <p>14 апреля 2023, 14:21<br>Жительница Башкирии получит 200 тыс. рублей за сломанную дантистом челюсть
В Нефтекамске в Башкирии в стоматологической клинике пациентке сломали челюсть во время удаления зуба. Она подала на клинику в суд.
</p>
        </div>

        <div class="news">
            <p>11 апреля 2023, 16:54<br>Стоматолог рассказал об уловках клиник по заманиванию клиентов
Клиники стали заманивать пациентов сниженной за последний год стоимостью услуг по установке зубных имплантов. Однако за ценой упало и качество, рассказал хирург-имплантолог сети стоматологий Smile-at-Once Евгений Жиленко во вторник, 11 апреля.
</p>
        </div>

        <div class="news">
            <p>03 апреля 2023, 05:30<br>Стоматолог назвала допустимую частоту потребления сладкого
Стоматологи выделяют условно полезные и вредные сладости. Отом, как часто можно есть сладкое без вреда для зубов, и какие из них относятся к полезным, «Известиям» 3 апреля рассказала стоматолог-терапевт «СМ-Стоматология» Людмила Шемякина.
</p>
        </div>

        <div class="news">
            <p>31 марта 2023, 05:30<br>Стоматолог назвала последствия неправильного роста зубов мудрости
Неправильный рост зубов мудрости может вызвать не только дискомфорт, но и целый ряд других проблем со здоровьем полости рта. Более подробно об этом «Известиям» 31 марта рассказала стоматолог-ортодонт «СМ-Стоматология», к.м.н. Наталья Юрченко.</p>
        </div>
    </div>
    {% block footer %}
        <footer>
            <div class="downside">
                {% block copyright %}<p>Copyright ООО "Роот М.В.", 2023. Все права защищены.</p>{% endblock %}
            </div>
        </footer>
    {% endblock %}
</body>
</html>